.build
.deps
*~undo-tree~


2022-PRACE-paris/lisp/electrons.dot
2022-PRACE-paris/lisp/electrons.svg
2022-PRACE-paris/lisp/particle.dot
2022-PRACE-paris/lisp/particle.svg
2022-PRACE-paris/lisp/t2.dot
2022-PRACE-paris/lisp/t2.svg
2022-PRACE-paris/lisp/t3.dot
2022-PRACE-paris/lisp/t3.svg
2022-PRACE-paris/lisp/triples1.dot
2022-PRACE-paris/lisp/triples1.svg
2022-PRACE-paris/lisp/v@c-pp-hp-t1-t2.dot
2022-PRACE-paris/lisp/v@c-pp-hp-t1-t2.svg
2022-PRACE-paris/lisp/vabij.dot
2022-PRACE-paris/lisp/vabij.svg
